body {
  background-color: #d8d8d8;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a {
  text-decoration: none;
  color: #d8d8d8;
}

#container {
  background-color: white;
  width: auto;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

#header {
  background-color: #ac3f3f;
  color: white;
  height: 50px;
}

#Name a {
  text-decoration: none;
  color: white;
}

#Name {
  text-align: left;
  float: left;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 13px;
  margin: 0;
}

#content {
  padding-bottom: 1%;
}

#nav {
  max-width: 580px;
  width: 100%;
  margin: auto;
  text-align: center;
  float: right;
  background-color: #ac3f3f;
}

#nav .flex-container {
  height: 50px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
}

#nav .selected {
  font-weight: bold;
  color: white;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: #ffffff;
  text-align: right;
}

#main h1 {
  animation-duration: 2s;
  animation-name: slideinright;
}

#main h2 {
  animation-duration: 2.5s;
  animation-name: slideinright;
}

#main p {
  animation-duration: 3s;
  animation-name: slideinright;
}

#IndexP {
  width:100%;
  animation-duration: 4s;
  animation-name: fadein;
}

@keyframes slideinright {
  from {
    margin-left: 200%;
    width: 300%;
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
}

#main {
  width: auto;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 2%;
  float: left;
}

#main p {
  font-size: large;
}

#about {
  width: 50%;
  float: right;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-right: 2%;
  animation-duration: 2.5s;
  animation-name: fadein;
}

#selfie {
  float: left;
  width: 40%;
  padding-left: 2%;
  padding-right: 1%;
  padding-top: 0%;
  padding-bottom: 3%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

#Assignment {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 2%;
  float: left;
  animation-duration: 2s;
  animation-name: fadein;
}

#Assignment h2 {
  margin-bottom: 15px;
}

#Assignment_list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

#Assignment_list .flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-between;
  padding: 0;
}

#title2 {
  text-decoration: underline;
}

#GitHubV a {
    text-decoration: underline;
    color: #ac3f3f;
}

#AV1 {
  float: left;
  width: 520; 
  height: 315;
  margin-right: 2%;
  margin-bottom: 2%;
}

#AV2 {
  float: right;
  width: 520; 
  height: 315;
  margin-left: 2%;
  margin-bottom: 2%;
}

#AV3 {
  float: left;
  clear: right;
  width: 520; 
  height: 315;
  margin-right: 2%;
  margin-bottom: 2%;
}

#AV1v2 {
  float: left;
  width: 35%; 
  margin-right: 2%;
  margin-bottom: 1%;
}

#AV2v2 {
  float: right;
  clear: left;
  width: 35%;
  margin-left: 2%;
  margin-bottom: 1%;
}

#AV2v3 {
  float: right;
  clear: left;
  width: 35%;
  margin-left: 2%;
  margin-bottom: 2%;
}

#AV3v2 {
  float: left;
  clear: both;
  width: 35%;
  margin-right: 2%;
  margin-bottom: 1%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  margin-bottom: 1%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Poster {
  width: 100%;
}

#A1P {
  clear: left;
  float: right;
  width: 40%;
  margin-left: 2%;
  margin-bottom: 2%;
}

#F1P {
  clear: left;
}

#F2P {
  clear: right;
}

#Css {
  clear: right;
}

#OtherR {
  clear: left;
}

hr {
  clear: both;
  margin-bottom: 10px;
}

#A3P1 {
  float: left;
  width: 45%;
}

#Cap1 {
  clear: left;
  float: left;
  width: 45%;
  margin-bottom: 2%;
}

#A3P2 {
  float: right;
  width: 45%;
}

#Cap2 {
  clear: right;
  float: right;
  width: 45%;
  margin-bottom: 2%;
}

#A3P3 {
  float: left;
  clear: left;
  width: 45%;
}

#A3P4 {
  float: right;
  clear: right;
  width: 45%;
}

#P5 {
  float: left;
  clear: left;
  width: 45%;
}

#A3P5 {
  float: left;
  clear: left;
  width: 45%;
  margin-bottom: 2%;
}

#Final {

  padding-top: 0.5%;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
  animation-duration: 2s;
  animation-name: fadein;
}

#A3P1v2 {
  width:100%;
}

.link1 {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  flex: 45%;
  padding-left: 1.25%;
  padding-right: 1.25%;
  padding-bottom: 1.25%;
  clear: both;
}

.link2 {
  position: relative;
  text-align: center;
  color: white;
  float: right;
  flex: 45%;
  padding-left: 1.25%;
  padding-right: 1.25%;
  padding-bottom: 1.25%;
  clear: both;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}