body{
  background-color: #d8d8d8;
  font-family: Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
  color: #d8d8d8;
  
}

h1, h2, h3{
  margin: 0;
}

#container{
  background-color: white;
  width: auto;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

#header {
  background-color: #ac3f3f;
  color: white;
  height: 50px;
}

#Name {
  text-align: left;
  float: left;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 13px;
}

#content {
  padding: 10px;
}

#nav{
  width: 580px;
  margin: auto;
  text-align: center;
  float: right;
}

#nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-left: 25px;
  margin-right: 25px;
}

#nav .selected{
  font-weight: bold;
  color: white;
}


#main{
  width: auto;

}

#footer{
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: #ffffff;
  text-align: right;
}

#about {
  width: 50%;
  float: right;
  padding: 40px;
}

#selfie {
  float: left;
  width: 40%;
  padding: 40px;
}